// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.create_button{
  margin: 10px 10px 10px 10px;
  background-color: skyblue;
  border-radius: 5px;
  width: 100px;
  height: 50px;
}
.create_button:hover{
  background-color: blue;
}
.actions input[type="submit"]{
  margin: 2d0px 10px 10px 10px;
  background-color: skyblue;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}