// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.create_button{
  margin: 10px 10px 10px 10px;
  background-color: skyblue;
  border-radius: 5px;
  width: 100px;
  height: 50px;
}
.create_button:hover{
  background-color: blue;
  width: 760px;
}
.actions input[type="submit"]{
  margin: 2d0px 10px 10px 10px;
  background-color: skyblue;
  border-radius: 5px;
  width: 100px;
  height: 100px;
}
.direct_form{
  background-color:rgb(211, 211, 211);
  padding:8px;
}
#side_menu ul {
  margin-top:36px;
  list-style: none;
  padding-left:10px;
}
#side_menu ul li{
  font-size: 24px;
  padding-bottom: 30px;
}
#side_menu ul li a{
  color: blue;
  text-decoration:underline; 
  text-underline-offset: 3px;
}